


.ui-widget .ccnote {
	background-image:url("#{resource['images:squared.jpg']}");
	font-family: 'Noto Serif', serif;
	padding:5px;
	font-size:14pt;
}



.ccpanel .ui-panel-content {
	position:relative;
	padding:0;
	height:300px;
}

.ccpanel #statustext {
	position:absolute;
	right:54px;
	font-size:9pt;
	top:-27;
	width:100px;	
}

.ui-menu {
	font-size: 9pt;
}

.ui-selectonelistbox.morton-selectonelistbox {
	background:transparent;
	box-shadow:none;
	border:0px;
	color:inherit;
	width:100%;	
}